.tracer__container
{
    position: absolute;
    left: 0;
    top: 0;
    z-index: 4444444;
}

.tracer__image
{
    position: absolute;
    left:0;
    top:0;
    opacity: 0.6;
    filter: blur(0px) !important;
}

.desktop__container {
    float: left;
    width: 97.5vw;
    margin:0px;
    padding:0px;
    z-index: -44000;
}
